div.post-page {
    min-height: 100vh;
    display: flex;
    background: whitesmoke;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

div.post-page-header {
    width: 100%;
}

div.post-page-content {
    margin-top: 20px;
    width: 40vw;
}