div.FriendRequestCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 1px 1px #f7f7f7;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.friendRequestCard-details {
    display: flex;
}

div.friendRequestCard-details-img {
    height: 85px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.friendRequestCard-details-img  img{
    max-height: 85px;
    max-width: 85px;
}

div.friendRequestCard-details-name {
    display: flex;
    align-items: center;
    max-width: 170px;
    margin-left: 10px;
    margin-right: 10px;
}
div.friendRequestCard-actions {
    display: flex;
    margin: 0 10px;
}

div.friendRequestCard-actions button{
    margin: 0 5px;
}

#requestConfirm {
    background: #1b74e4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#requestDelete {
    background: #e4e6eb;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}


#requestDelete:hover {
    background: #BCC0C4 ;
}

#requestConfirm:hover {
    background: #1877F2 ;
}

#requestConfirm:active {
    background: #1b74e4;
    transform: translateY(1px);
}

#requestDelete:active {
    background: #e4e6eb ;
    transform: translateY(1px);
}