#home-body {
    background-color: #f0f2f5;
}
#home-content {
    display: flex;
}

#home-content-create-post {
    border: 3px solid #8b9dc3;
    margin-top: 15px;
    margin-left: 15px;
    width: 50vw;
    height: auto;
}

#home-timeline-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f0f2f5;
}

.results-loading{
    -webkit-animation: 2s ease-in-out 0s normal forwards infinite fadein;
    animation: 2s ease-in-out 0s normal forwards infinite fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}