#home-body {
    background-color: #f0f2f5;
}
#home-content {
    display: flex;
}
#home-body,.home-timeline-container {
    background-color: #dfe3ee;
}

#home-content-create-post {
    margin-top: 15px;
    margin-left: 15px;
    width: 50vw;
    height: auto;
    background-color: white;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 1px 5px 15px -10px #8b9dc3;
}

#home-timeline-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #dfe3ee;
    /* border:red 1px solid; */
}

#home-post-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 20vh;
    height: auto;
}
