#search-result {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

#search-result-profile-picture {
    margin-left: 30px;
    width: 40px;
    height: 40px;    
    overflow: hidden;
    border-radius: 50%;
}

#search-result-profile-picture img {
    width: 180%;
}

#search-result-name {
    padding-left: 10px;
    padding-top: 10px;
    width: 190px;
}

#search-result-name:hover {
    text-decoration: underline;
}

#search-result-relationship {
    padding-left: 10px;
    padding-right: 18px;
}

#search-result-relationship p {
    padding: 0;
}

#search-result-relationship button {
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

#search-result-relationship button:active {
    background-color: gainsboro;
    color: #3b5998;
}

#search-result-relationship button:hover {
    color: #3b5998;
}