#header {
    background-color:dodgerblue;
    height: 60px;
    width: 100vw;
    display: flex;
}

#pastebook-logo {
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

#search-bar {
    margin-top: 15px;
    margin-left: 10px;
    height: 28px;
    width: 300px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    padding-left: 15px; 
}

#search-bar:focus {
    outline: none;
}

#search-anchor {
    margin-top: 15px;
    padding-top: 4px;
    padding-right: 2px;
    padding-left: 5px;
    width: 25px;
    height: 26px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
}

#header-right {
    margin-top: 17px;
    margin-left:  665px;
}

#home-anchor, #notifications-anchor, #menu-anchor {
    margin-left: 15px;
}