#header {
    background-color:#3b5998;
    height: 60px;
    display: flex;
}

#pastebook-logo {
    width: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

#search-bar {
    margin-top: 15px;
    margin-left: 10px;
    height: 28px;
    width: 300px;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; 
    padding-left: 15px; 
}

#search-bar:focus {
    outline: none;
}

#search-button {
    margin-top: 15px;
    padding-top: 4px;
    padding-right: 2px;
    padding-left: 5px;
    width: 35px;
    height: 30px;
    background-color: white;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;  
}

#search-button:active {
    background-color: gainsboro;
}

#header-right {
    margin-top: 17px;
    margin-left: calc(100vw - 600px);
}

#home-anchor, #notifications-button, #menu-button {
    margin-left: 15px;
}

#notifications-button, #menu-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

#notifications-circle {
    width: 8px;
    height: 8px;
    background-color: rgb(209, 2, 2);
    color: rgb(238, 238, 238);
    font-size: 7px;
    border-radius: 50%;
    border: 1px solid white;
    float: right;
}