/* .edit-pass{
    padding: 10px;
    margin: 10px;
} */
/* .borderline {
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit-pass-new-pass {
    display: grid;
    grid-template-columns: 400px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 100px;
} */
/* .edit-pass-new-pass input{
    padding: 10px;
    width: 175px;
    border-radius: 6px;
    border: solid 1px #696a69;
} */
/*#def3ee;*/
.edit-email-with-pass{
    /* border: solid 1px black; */
    height: 150px;
    margin-bottom: 2px;
    width: 400px;

}
.edit-pass h2{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    padding: 5px;

}
.edit-pass-new-pass{
    margin: 10px;
    /* border: solid 1px black; */
    margin: 0 auto;
    text-align: center;
    width: 400px;
}
.edit-pass-new-pass input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
    padding: 5px;
    border-radius: 6px;
    border: solid 1px gray;
}
.edit-pass-new-pass button{
    width: 200px;
    margin-bottom: 5px;
    padding: 5px;
    line-height: 20px;
}