#home-profile {
    display: flex;
    /* border: 3px solid #8b9dc3; */
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 5px 15px -10px #8b9dc3;
    margin-top: 15px;
    margin-left: 15px;
    width: 22vw;
    height: 15vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 8px;
    background-color: #f1f1f1;
}

#current-user-profile-picture {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
#current-user-profile-picture img {
    width: 70px;
    height: 70px;
    clip-path: circle(50%);
}

#current-user-name {
    padding-top: 5px;
    padding-left: 10px;
}
#home-profile h3 {
    /* border: red 2px solid; */
    width: 100%
}

#home-profile-anchor {
    display: flex;
    text-decoration: none;
    color: black;
    width: 15vw;
    /* border: solid 1px blue; */
    align-items: center;
}

#home-profile-anchor:hover {
    text-decoration: underline;
}

#home-profile-anchor:active {
    color: #3b5998;
}
