div.post-interactions-comments {
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.post-interactions-comments-list {
    display: flex;
    flex-direction: column;
}

div.post-interactions-comments-list-item {
    padding: 10px 15px 5px 15px;
}

div.post-interactions-comments-expand {
    height: 25px;
    padding: 5px 15px;
}

div.post-interactions-comments-expand p{
    cursor: pointer;
}

div.post-interactions-comments-expand p:hover {
    text-decoration: underline;
}
div.post-interactions-comments-create {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

div.post-interactions-comments-create-img {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

div.post-interactions-comments-create-img  img{
    max-width: auto;
    max-height: 100%;
}

div.post-interactions-comments-create  img:hover {
    cursor: pointer;
}

div.post-interactions-comments-create-input {   
    height: 40px;
    width: calc(100% - 95px);
}

div.post-interactions-comments-create-input  input{  
    height: 100%;
    width: 100%;
    background: #f7f7f7;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 32px;
    border: none;
}

div.post-interactions-comments-create  input:focus {
    outline: none;
}