div.friends-page .friends-page-component {
    min-height: 100vh;
    width: 100%;
    background: #dfe3ee;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}