#home-create-post {
    padding-top: 5px;
    padding-left: 5px;
    text-align: right;
}

#home-post-picture-preview {
    padding-left: 2px;
    padding-right: 6px;
    margin: auto;
    text-align: center;
    display: none;
}

#home-post-picture-preview img {  
    width: 100%;
    height: auto;   
}

#remove-picture {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#remove-picture:hover, #remover-picture:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
#home-post-text-div {
    text-align: left;
    padding-left: 3px;
}

#home-post-text {
    padding-left: 7px;
    padding-right: 7px;
    width: calc(50vw - 30px);
    min-height: 30vh;
    resize: vertical;
}

#home-create-post-buttons {
    display: flex;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
  }

.label {
    cursor: pointer;
    display: inline-block;
    height: 35px;
    width: 110px;
}

#home-add-picture-label {
    padding-left: 3px;
    text-align: left;
}

#home-add-picture-button {
    display: flex;
    border: none;
    background-color: black;
    color: white;
    height: 35px;
    width: 110px;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

#home-add-picture-button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

#home-add-picture-button:active {
    color: white;
    background-color: #8b9dc3;
    border: none;
}

#home-add-picture-button-text{
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

#home-post-button-div {
    padding-left: calc(50vw - 200px);
    margin-bottom: 5px;
}

#home-post-button {
    height: 40px;
    width: 76px;
    border: none;
    background-color: #3b5998;
    color: white;
}

#home-post-button:hover {
    color: #3b5998;
    background-color: white;
    border: 1px solid #3b5998;
}

#home-post-button:active {
    background-color: #f7f7f7;
    color: #3b5998;
    border: 1px solid #3b5998;
}
