.body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #dfe3ee;
    width: 100%;
    height: 100%;
    margin: 0;
}
.text {
    font-size: 0.5rem;
    font-weight: 600;
}
.block-border-shadow {
    border-radius: 6px;
    box-shadow: 1px 5px 15px -10px #8b9dc3;
    padding: 20px;
}
.block-border-shadow a{
    text-decoration: none;
    color: black;
}
.block-border-shadow a:hover{
    text-decoration: underline;
}
.block-title-1 {
    font-size: 0.6rem;
    font-weight: bold;
    top: 0;
    margin-bottom: 20px;
}

.s2-content {
    width: 100%;
    /* margin: 0 auto; */
    /* border: solid 1px green; */
    display: flex;
    justify-content: center;

}
.s2-c1 {
    /* float: left; */
    width: 350px;
    /* border: solid red 1px; */
    /* height: auto;
    margin-right: 20px; */
}
.s2-c2 {
    /* float: right; */
    width: 511px;
    /* border: solid 1px blue; */
    margin-left: 40px;
    /* height: auto;
    width: 531px; */
}
.s2-c1-r1-intro,
.s2-c1-r2-photos,
.s2-c1-r3-friends {
    background-color: white;
    width: 89%;
    margin-bottom: 20px;
    margin-left: 22px;
}
.s2-c1-r1-intro-content {
    display: grid;
    grid: autoflow min-content / 100%;
    gap: 3px;
}
.s2-c1-r2-photos-content {
    height: 280px;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    border-radius: 6px;
}
.s2-c1-r2-photos-content img {
    width: 90px;
}
.s2-c1-r3-friends-content  {
    height: min-content;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
}
.s2-c1-r3-friends-content div a {
    text-decoration: none;
    color: black;
}
.s2-c1-r3-friends-content div a:hover {
    text-decoration: underline;
    color: black;
}

.s2-c1-r3-friends-content div a > img,
.s2-c1-r3-friends-content div a > p {
    width: 85px;
}
.s2-c1-r3-friends-content div a > img {
    border-radius: 6px;
}
.s2-c1-r3-friends-content div a > p {
    margin: 0;
}
.s2-c2-r1-write-post {
    background-color: white;
    width: 86%;
    height: auto;
    margin-bottom: 20px;
    /* border: solid 1px yellow; */
}
.s2-c2-r2-posts {
    /* display: grid;
    grid: autoflow min-content / 100%;
    gap: 20px; */
    /* border: solid 1px pink; */
}
.s2-c2-r2-posts > div {
    border-radius: 6px;
    box-shadow: 1px 5px 15px -10px #8b9dc3;
    margin: 10px 0 10px 0;
    background-color: white;
    /* border: solid 1px purple; */
    width: 94%;

}
