div.NamePicCard a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

a div.namePicCard-img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a div.namePicCard-img img {
    width: 80px;
    height: 80px;
    clip-path: circle(50%);
    /* border-radius: 50%; */
}

a div.namePicCard-img img:hover {
    cursor: pointer;
}

a div.namePicCard-name {
    max-width: 170px;
    margin-left: 3%;
    margin-right: 3%;
}

a div.namePicCard-name h5:hover {
    text-decoration: underline;
    cursor: pointer;
}
